<h1>WELCOME</h1>

<% if guide_signed_in? %>
<p>Hi guide</p>
<%= link_to "New programe", new_program_path%>
<%= link_to "sign out",  destroy_guide_session_path, method: :delete%>
<%else%>
<p><%=link_to "Become a guide", new_guide_registration_path%></p>
<%== link_to "Sign in guide", new_guide_session_path%>
<%end%>